@model IEnumerable<Data_Layer.Models.Cart>




<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4" style="margin-top:10px">
                    @if(!Model.Any())
                    {
                        <p>@ViewBag.Message</p>
                    }else
                    {
                        @foreach (var item in Model)
                        {
                            <div class="card-header py-3">
                                <h5 class="mb-0">Cart -  items</h5>
                            </div>
                            <div class="card-body itemcardbody">
                                <!-- Single item -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <!-- Image -->
                                        <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                            <img src="@item.ImageUrl"
                                         class="w-100" alt="Blue Jeans Jacket" />
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                        <!-- Image -->
                                    </div>

                                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                        <!-- Data -->
                                        <p><strong>@item.ProductName</strong></p>
                                        <a href="@Url.Action("Delete","cart",new{id = item.CartId})">
                                            <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                                        title="Remove item">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                        </a>
                                        <a href="@Url.Action("AddProduct","Favourites",new{id = item.ProductId})">
                                            <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                            title="Move to the wish list">
                                                <i class="fas fa-heart"></i>
                                            </button>
                                        </a>
                                        
                                        <!-- Data -->
                                    </div>

                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- Quantity -->
                                        <div class="d-flex mb-4" style="max-width: 300px">
                                            <a href="@Url.Action("decrementQuantity","cart",new{id = item.CartId})">
                                            <button class="btn btn-primary px-3 me-2">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            </a>

                                            <div class="form-outline">
                                                <input id="form1" min="0" name="quantity" value="@item.Quantity" type="number" class="form-control" />
                                                <label class="form-label" for="form1">Quantity</label>
                                            </div>
                                            <a href="@Url.Action("AddTocart","cart",new{id = item.ProductId})">
                                                <button class="btn btn-primary px-3 ms-2">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </a>
                                            
                                        </div>
                                        <!-- Quantity -->
                                        <!-- Price -->
                                        <p class="text-start text-md-center">
                                            <strong id="ItemPrice">Rs.@(item.Price * item.Quantity)</strong>
                                        </p>
                                        <!-- Price -->
                                    </div>
                                </div>
                                <!-- Single item -->

                                <hr class="my-4" />
                            </div>
                        }
                    }
                    
                    
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p><strong>Expected shipping delivery</strong></p>
                        <p class="mb-0">12.10.2020 - 14.10.2020</p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <p><strong>We accept</strong></p>
                        <img class="me-2" width="45px"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                             alt="Visa" />
                        <img class="me-2" width="45px"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                             alt="American Express" />
                        <img class="me-2" width="45px"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                             alt="Mastercard" />
                        <img class="me-2" width="45px"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
                             alt="PayPal acceptance mark" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4" style="margin-top:10px">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            @if(Model.Any())
                            {
                                var grandTotal = Model.Sum(item => item.Price * item.Quantity);
                                var shipping = (grandTotal > 599) ? 0 : 100;
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Products
                                    <span id="totalPrice">Rs. @grandTotal</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    @if(grandTotal == 0)
                                    {
                                        <span>Free</span>
                                    }else
                                    {
                                        <span>@shipping</span>
                                    }
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                        <strong>
                                            <p class="mb-0">(including GST)</p>
                                        </strong>
                                    </div>
                                    <span><strong id="finalprice">Rs. @(grandTotal + shipping)</strong></span>
                                </li>
                            }  
                        </ul>
                        <a href="@Url.Action("PlaceOrder","Orders")">
                            <button type="button" class="btn btn-primary btn-lg btn-block @(Model.Any() ? "" : "disabled")">
                                Place order
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>