@model IEnumerable<Data_Layer.Models.SubCategory>
@{
    Layout = "_layout";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubcategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a href="@Url.Action("SDetail","Categories",new{id = item.SubcategoryID})">
                        @Html.DisplayFor(modelItem => item.SubcategoryID)
                    </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryID)
            </td>
        </tr>
}
    </tbody>
</table>
